body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}
body,
ul,
li {
	margin: 0;
	padding: 0;
}
li {
	list-style: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 0;
}
a {
	text-decoration: none;
}
input {
	border-style: none;
	background: transparent;
	outline: none;
}
button {
	padding: 0;
	background: none;
	border: none;
	outline: none;
}
